main {
  .main__intro {
    @include grid(1fr 1fr, "", "", "");
    width: 100%;
    h2 {
      font-size: 2.25rem;
      font-weight: bold;
    }
    div {
      @include flex("", "", "", "", 30px);
      p {
        font-size: 2.25rem;
        font-weight: lighter;
      }
      img {
        overflow: hidden;
      }
    }
    p {
      grid-column: 2;
      grid-row: 1/3;
      margin-right: 30px;
      align-self: center;
      line-height: 25px;
    }
  }
  .main__about {
    @include grid(1fr 1fr, "", "", "");
    margin: 50px 0;
    h2{
      padding-top: 50px;
      font-size: 2.25rem;
      font-weight: bold;
    }
    p{
      padding-top: 30px;
      line-height: 25px;
    }
    div {
      &:first-child {
        grid-column: 1;
        grid-row: 1/6;
        img {
          width: 80%;
        }
      }

      &:nth-child(3) {
        p {
          font-size: 2.25rem;
          font-weight: lighter;
        }
      }

      &:nth-child(5) {
        padding-top: 30px;
        button {
          padding: 10px 60px;
        }
      }
    }
  }
  .main__why {
    @include flex("", "", "", "", 20px);
    margin-top: 60px;
  }
}
