.main__items__item {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 33%;
    margin: 10px;
    img {
        grid-column: 1;
        grid-row: 1/2;
        margin-right: 30px;
        align-self: center;
      }
    div{

        grid-column: 2;
        grid-row: 1;
        a{
          font-size: 1.5rem;
          font-weight: bold;
          &:hover{
            transform: scale(1.2);
          }
        }
        align-self: end;
        padding-bottom: 10px;

      &:last-child {
        grid-column: 2;
        grid-row: 2;
        font-size: 0.875rem;
      }
    }
  }
  .main__items__separator {
    width: 1px;
    background-color: map-get($colores, color2 );
    opacity: 0.33;
  }
